body {
	background-color: #060606;
	color: white;
	margin: 25px;
}
h1 {
	font-family: 'Oswald';
	font-size: 3em;
}
h3 {
	margin-top: -20px;
	font-family: 'Inconsolata';
}
p {
	margin-bottom: -10px;
}
.center {
	text-align: center;
}
.data-table {
	display: block;
	width: auto;
	
	margin: 25px;

	padding: 20px;
	border-radius: 5px;
}
#app h4{
	margin-left: 30px;
    color: #8cff66;
    font-family: 'Oswald';
    letter-spacing: .1em;
    cursor: pointer;
    color:#fff;
}
table {
   margin: 25px;
   border-collapse: collapse;
   background-color: #666; 
   text-align: left;
   border: 3px solid black;
}
th, td {
	padding: 10px;
}
th {
	font-family: 'Lato';
}
td {
	font-family: 'Inconsolata';
	color: white;
	font-size: 1.15em;
}

