body {
    background-color: #333;
    color: white;
    font-family: 'Lato';
    margin: 25px;
}
h1 {
    font-family: 'Oswald'
}
h2 {
    margin-top: -20px;
}
.center {
    text-align: center;
}
#app h4{
    color: lightgreen;
}
#app p {
    font-family: 'Ubuntu';
}
