body {
	background-color: #060606;
	color: white;
	margin: 25px;
}
h1 {
	font-family: 'VT323';
	font-size: 3em;
}
h3 {
	margin-top: -20px;
	font-family: 'Inconsolata';
}
h4 {
	margin-top: -10px;
}
p {
	margin-bottom: -10px;
}
.center {
	text-align: center;
}
.data-item {
	display: block;
	width: auto;
	font-family: 'Inconsolata';
	margin: 25px;
	background-color: #232323;
	padding: 20px;
	border-radius: 5px;
}
#app h4{
	display: inline;
	float: right;
    color: #8cff66;
    font-family: 'Lato';
}

